body {
    background-color: LightGray;
}

a {
  text-decoration:none;
}

.title {
  border: 2px solid #8B0000;
  color: Purple;
  font-family: Georgia;
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.first_class {
  color: blue;
  text-align: left;
}

.second_class {
  color: green;
  text-align: left;
}

.third_class {
  color: red;
  text-align: left;
}

#first_id {
  color: BlueViolet;
  text-align: center;
}

#img_id {
  border: 3px solid #A52A2A;
  height: 150px;
  width: 150px;
  max-height: 40%;
  max-width: 40%;
  align-items: center;
  justify-contect: center;
}

img {
  height: 300px;
  width: 500px;
  max-width: 40%;
  max-height: 40%;
}

.center_div {
    border: 2px solid #483D8B;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #ADD8E6;
    text-align: left;
    padding: 8px;
}
