body {
    background-color: LightGray;
}

a {
  text-decoration:none;
}

.title {
  color: Purple;
  font-family: Georgia;
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}

.first_class {
  color: blue;
  text-align: left;
}

.second_class {
  color: green;
  text-align: left;
}

.third_class {
  color: red;
  text-align: left;
}

#first_id {
  color: BlueViolet;
  text-align: center;
}

#img_id {
  height: 150px;
  width: 150px;
  max-height: 40%;
  max-width: 40%;
  align-items: center;
  justify-contect: center;
}

img {
  height: 300px;
  width: 500px;
  max-width: 40%;
  max-height: 40%;
}

/* Display article thumbnails and descriptions side by side in a grid */
article {
  display: grid;
  grid: "img meta" auto / 200px auto;
  margin-bottom: 20px;
}

/* Use this class on a div that contains the img element */
.article-img {
  grid-area: img;
  justify-self: center;
}

/* Use this class on a div that contains the description, link, etc. */
.article-meta {
  grid-area: meta;
  align-self: start;
}
