body {
    background-color: LightGray;
}

a{
  text-decoration:none;
}

.first_class p{
  color: blue;
  font-size: 0.5em;
  text-align: left;
}

#first_id p{
  font-family: sans-serif;
  color: BlueViolet;
  text-align: left;
}
