body {
    background-color: LightGray;
}

a {
  text-decoration:none;
}

.title {
  color: Purple;
  font-family: Georgia;
}
.uppercase {
  text-transform: uppercase;
}

.first_class p{
  color: blue;
  text-align: left;
}

#first_id {
  font-style: cursive;
  color: BlueViolet;
  text-align: center;
}
